*, *:after, *:before {
    box-sizing: border-box;
}

html, body {
    width: 100%;
    margin: 0;
    padding: 0;

    --mdc-theme-primary-dark: #455A64;
    --mdc-theme-primary-light: #CFD8DC;
    --mdc-theme-primary: #607D8B;
    --mdc-theme-text-primary-on-primary: #FFFFFF;
    --mdc-theme-text-primary-on-secondary: #FFFFFF;
    --mdc-theme-secondary: #FF5722;
}

.app-fab--absolute {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
}

@media(min-width: 1024px) {
    .app-fab--absolute {
        bottom: 1.5rem;
        right: 1.5rem;
    }
}

div.container {
    margin: 0 auto;
    width: 80%;

    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.card {
    min-width: 320px;
    max-width: 480px;
    margin: 24px;
}

.card .header {
    height: 12.313rem;
    background-color: #2196f3;
}